@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  color: #ffffff;
  background: #2bb67d;
}

input:focus-visible,
button:focus-visible,
textarea:focus-visible {
  outline: none;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1px #e8e8ef, inset 0 0 0 100px #ffffff !important;
}

input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 2px #2bb67d66, inset 0 0 0 100px #ffffff !important;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: #fafafc;
}

::-webkit-scrollbar-thumb {
  background-color: #2bb67d;
  border-radius: 5px;
}

#nprogress .bar {
  background-color: #2bb67d;
  height: 4px;
}

#nprogress .bar {
  box-shadow: 0 0 10px #2bb67d, 0 0 5px #2bb67d;
}

#nprogress .spinner-icon {
  width: 20px;
  height: 20px;
  border-top-color: #2bb67d;
  border-left-color: #2bb67d;
}

.MuiPaper-root {
  transition: none !important;
}

.MuiCalendarPicker-root > div:first-child > div:first-child {
  font-family: Urbanist;
  color: #32343d;
}

.PrivatePickersYear-yearButton {
  font-family: Urbanist !important;
  color: #32343d !important;
}

.MuiPickersDay-root {
  font-family: Urbanist !important;
  font-weight: 600 !important;
  color: #32343d !important;
}

.MuiPickersDay-dayOutsideMonth {
  color: #ababb9 !important;
}

.MuiTypography-caption {
  font-family: Urbanist !important;
  font-weight: 600 !important;
  color: #ababb9 !important;
}

.MuiButtonBase-root:hover,
.PrivatePickersYear-yearButton:hover {
  background-color: #e9faf3 !important;
}

.MuiPickersDay-today {
  border-color: #2bb67d !important;
  background-color: transparent !important;
}

.Mui-selected {
  background-color: #2bb67d !important;
  color: #ffffff !important;
}

.Mui-selected:hover {
  background-color: #2bb67d !important;
}

.MuiPaper-root {
  margin-top: 0.5rem;
  box-shadow: 0 0 0 1px #0000001a, 0 4px 11px #0000001a !important;
}

#rich-text-input .DraftEditor-root {
  height: 150px !important;
  overflow-y: auto;
}

#rich-text-input .DraftEditor-editorContainer {
  border: none !important;
}

#rich-text-input .public-DraftEditor-content,
#rich-text-input .public-DraftEditorPlaceholder-root {
  padding: 1rem 3.25rem;
  font: normal normal 500 0.875rem/1.25rem Urbanist;
}

#rich-text-input .public-DraftEditor-content {
  color: #32343d !important;
}

#rich-text-input .public-DraftEditorPlaceholder-root {
  color: #ababb9 !important;
}

.public-DraftStyleDefault-ul {
  margin: 0 !important;
}
