@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

input:focus-visible,
button:focus-visible,
textarea:focus-visible {
  outline: none;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1px #e8e8ef, inset 0 0 0 100px #ffffff !important;
}

input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 2px #2bb67d66, inset 0 0 0 100px #ffffff !important;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #2bb67d;
  border-radius: 5px;
}

#nprogress .bar {
  background-color: #2bb67d;
  height: 4px;
}

#nprogress .bar {
  box-shadow: 0 0 10px #2bb67d, 0 0 5px #2bb67d;
}

#nprogress .spinner-icon {
  width: 20px;
  height: 20px;
  border-top-color: #2bb67d;
  border-left-color: #2bb67d;
}
.MuiPaper-root {
  transition: none !important;
}

.MuiCalendarPicker-root > div:first-child > div:first-child {
  font-family: Urbanist;
  color: #32343d;
}

.MuiCalendarPicker-root > div:first-child > div:last-child {
  transition: none !important;
}

.PrivatePickersYear-yearButton {
  font-family: Urbanist;
  color: #32343d;
}

.MuiPickersDay-root {
  font-family: Urbanist;
  font-weight: 600;
  color: #32343d;
}

.MuiTypography-caption {
  font-family: Urbanist;
  color: #32343d;
}

.MuiIconButton-root {
  color: #2bb67d;
}

.MuiButtonBase-root:hover,
.PrivatePickersYear-yearButton:hover {
  background-color: #e9faf3 !important;
  transition: none !important;
  -webkit-transition: none !important;
}

.MuiPickersDay-today {
  border-color: #2bb67d !important;
  background-color: transparent !important;
}

.Mui-selected {
  background-color: #2bb67d !important;
}
